 .eq:nth-of-type(odd) { background: yellow; } .equalHW { flex: 1; } .equalHMWrap { justify-content: space-between; } .equalHM
{ width: 32%; } .equalHMV { width: 32%; margin: 1%; }

<script style='css:text' .paddingBlock { padding: 20px 0; } .equalHMRWrap { justify-content: space-between; flex-wrap: wrap;
  } .eqWrap { display: flex; } .equalHMR { width: 32%; margin-bottom: 2%; } .eq { padding: 10px; } />
<div class="paddingBlock">
  <h1>EQUAL HEIGHT + WIDTH COLUMNS WITH MARGINS</h1>
  <p>Add display:flex, justify-content: space-between; to the parent and give a width to the boxes that totals to less than
    100%. E.g. These boxes have a width of 32% each. The remaining width of 4% (i.e. 32 x 3 = 96%) will be used to create
    the space between the boxes and simulate margins. No need to remove margins on the first and last child!</p>
  <div class="equalHMWrap eqWrap">
    <div class="equalHM eq">boo <br> boo</div>
    <div class="equalHM eq">shoo</div>
    <div class="equalHM eq">clue</div>
  </div>
</div>